@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
    --background-image-pulse-gradient: linear-gradient(135deg, #004ac6 0%, #2563eb 100%); 
    --font-roboto: 'Roboto', sans-serif;
    --glass-bg: rgba(248, 249, 255, 0.8);
    --glass-blur: 24px;
    --color-primary: #151c27;
    --color-primary-container: #2563eb;
    --color-secondary: #434655;
    --color-surface-container-lowest: #ffffff;
    --color-surface-container-high: #dce9ff;
    --color-bg: #f9f9ff;
    --color-on-surface: #0b1c30;
    --color-outline: #707974;
    --color-outline-variant: #bfc9c3;
    --color-text-primary: #0284c7;
    --color-nav: #64748b;
    --color-title: #0f172a;
    --color-tertiary: #006242;
    --color-text-error: #ba1a1a;
}